<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Web App</title>

        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, minimal-ui">
    </head>
    <body>
        <h1>Web App!</h1>
        <span>Logged in as: <%= user %></span>
    </body>
</html>
